<app-card variant="secondary" class="form-search">
  <form [formGroup]="formSearchService.formSearch" (ngSubmit)="search()">
    <h2>Tickets</h2>
    <div class="flex-container">
      <mat-button-toggle-group
        [value]="formSearchService.formSearch.get('oneWayTrip')?.value"
        (change)="formSearchService.formSearch.get('oneWayTrip')?.setValue($event.value)"
        aria-label="Ticket types"
        formControlName="oneWayTrip">
        <mat-button-toggle [value]="false">
          <mat-icon *ngIf="!formSearchService.formSearch.get('oneWayTrip')?.value">check</mat-icon>
          Round trip
        </mat-button-toggle>
        <mat-button-toggle [value]="true">
          <mat-icon *ngIf="formSearchService.formSearch.get('oneWayTrip')?.value">check</mat-icon>
          One way trip
        </mat-button-toggle>
      </mat-button-toggle-group>
      <mat-chip (click)="formSearchService.openDialog()">
        <div class="inner">
          <mat-icon>check</mat-icon>{{ formSearchService.getPassengerDescription() }}
        </div>
      </mat-chip>
      <mat-chip (click)="formSearchService.openDialog()">
        <div class="inner">
          <mat-icon>check</mat-icon>{{ formSearchService.gainControl('type').value }}
        </div>
      </mat-chip>
    </div>
    <div class="flex-container">
      <app-dropdown-fu
        label="Origin"
        iconPrefix="flight_takeoff"
        [control]="formSearchService.gainControl('origin')">
      </app-dropdown-fu>
      <button mat-icon-button (click)="formSearchService.changeOriginDestination()">
        <mat-icon>sync_alt</mat-icon>
      </button>
      <app-dropdown-fu
        label="Destination"
        iconPrefix="flight_land"
        [control]="formSearchService.gainControl('destination')">
      </app-dropdown-fu>
      <mat-form-field class="input-container" appearance="outline">
        <mat-label>Departure date</mat-label>
        <input matInput [matDatepicker]="departure">
        <mat-datepicker-toggle matIconSuffix [for]="departure"></mat-datepicker-toggle>
        <mat-datepicker #departure></mat-datepicker>
      </mat-form-field>
      <mat-form-field class="input-container" appearance="outline">
        <mat-label>Return date</mat-label>
        <input matInput [matDatepicker]="return">
        <mat-datepicker-toggle matIconSuffix [for]="return"></mat-datepicker-toggle>
        <mat-datepicker #return></mat-datepicker>
      </mat-form-field>
      <button mat-flat-button color="primary">Search</button>
    </div>
  </form>
</app-card>
