<app-banner src="/images/banner-login.png" alt="Login screen banner"></app-banner>
<section class="login-component">
  <mat-card class="login">
    <div class="image-container">
      <figure>
        <img src="/images/simbolo-bussola.png" alt="Orange compass symbol">
      </figure>
    </div>
    <div class="form-container">
      <mat-card-header>
        <mat-card-title>Login</mat-card-title>
      </mat-card-header>
      <form [formGroup]="loginForm">
        <mat-card-content>
          <mat-form-field appearance="outline" floatLabel="auto">
            <mat-label>E-mail</mat-label>
            <input formControlName="email" matInput type="email" placeholder="Enter your e-mail address">
            <mat-error *ngIf="loginForm.get('email')?.errors?.['required']">E-mail required</mat-error>
            <mat-error *ngIf="loginForm.get('email')?.errors?.['email']">Invalid e-mail format</mat-error>
          </mat-form-field>
          <mat-form-field appearance="outline">
            <mat-label>Password</mat-label>
            <input formControlName="password" matInput type="password" placeholder="Enter your password">
            <mat-error *ngIf="loginForm.get('password')?.errors?.['required']">Password required</mat-error>
          </mat-form-field>
        </mat-card-content>
        <mat-card-actions>
          <button [disabled]="loginForm.invalid" (click)="login()" mat-flat-button color="primary">Access my account</button>
        </mat-card-actions>
        <p>Don't have an account? <a><strong><u>Click here to register</u></strong></a></p>
      </form>
    </div>
  </mat-card>
</section>
