<section class="homepage">
  <app-banner
    src="/images/banner-homepage.png"
    alt="Journey application banner">
  </app-banner>
  <app-container>
    <app-form-search></app-form-search>
    <h2>Offers</h2>
    <app-offers></app-offers>
    <h2>Statements</h2>
    <div class="card-wrapper">
      <app-card-statement></app-card-statement>
      <app-card-statement></app-card-statement>
      <app-card-statement></app-card-statement>
    </div>
  </app-container>
  <app-banner
    src="/images/banner-homepage-rodape.png"
    alt="Journey application banner">
  </app-banner>
</section>
