<footer class="app-footer">
  <app-container>
    <div class="inner">
      <ul>
        <li>
          <img src="/images/logo-com-tagline.png" alt="">
        </li>
        <li>
          Opening hours: 08h - 20h (Monday-Saturday)
        </li>
        <li>
          Developed by Daniel Medeiros. Fictitious non-commercial project
        </li>
      </ul>
      <ul class="socials">
        <li>Access our social media:</li>
        <li>
          <button mat-icon-button>
            <img src="/icons/whatsapp.png" alt="Whatsapp icon">
          </button>
          <button mat-icon-button>
            <img src="/icons/instagram.png" alt="Instagram icon">
          </button>
          <button mat-icon-button>
            <img src="/icons/twitter.png" alt="Twitter icon">
          </button>
        </li>
      </ul>
    </div>
  </app-container>
</footer>
